

:root{
    font-family: "Inter", sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.header-text{
    display: none;
}
  
.logo {
    margin-right: 20px;
}
  
.intro{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
}

.btn-signin {
    background-color: #ffffff;
    width: 83px;
    height: 33px;
    border: 0px;
    cursor: pointer;
}
  
.btn-signup {
    background-color: #000000;
    width: 83px;
    height: 33px;
    border: 0px;
    color: white;
    cursor: pointer;
}

.intro-title {
    text-align: center;
}
  
h1 {
    text-align: center;
    font-size: 35px;
}

.intro-description {
    text-align: center;
    width: 366px;
    display: block;
    margin: 0 auto;
}

.intro-btn {
    width: 258px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 35px;
}
 
.trial-btn, .learn-btn {
    height: 100%;
    border: none;
    border-radius: 0px;
    font-size: 14px;
    cursor: pointer;
}
  
.trial-btn {
    width: 126px;
    background-color: #0071e9;
    color: #ffffff;
    padding: 8px, 16px, 8px, 16px;
}
  
.learn-btn {
    width: 105px;
    background-color: #000000;
    color: #ffffff;
    padding: 8px, 16px, 8px, 16px;
}

.intro-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}
  
.video-btn {
    position: absolute;
    bottom: -16.5px;
    left: 50%;
    transform: translateX(-50%);
    width: 7rem;
    height: 33px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
};
  

.about {
    position: relative; 
    width: 1510px;
    height: 673px;
}

.vertical-stripe {
    width: 1px;           
    height: 4rem;        
    background-color: rgb(190, 190, 190);
    margin: auto;  
    position: relative;
    z-index: 2;           
}

.square-about{
    text-align: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding-top: 20px;
    margin-top: -20px;
    position: relative;
};

.square-about h4 {
    width: 214;
    height: 29px;
    font-size: 120px;
    font-weight: 500;
    padding: 0px;
    overflow: visible;
}

.about-description{
    width: 70%;
    margin-left: 14%;
}

.hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
} 

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.cards {
    position: relative;
    text-align: center;
    margin-bottom: 5rem;
}

.cards-selection-description {
    margin-bottom: 30px;
    width: 75%;
    margin-left: 14%;
}
  

.cards-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    width: 354px;
    height: 461px;
    margin: 0 auto;
}
  
    .cards-group video{
        display: none;
    }

.card {
    justify-content: center;
    width: 169px;
    height: 143px;
    padding: 12px 0 0 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.cards-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
.circles {
    width: 44px;
    height: 44px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 12px;
    aspect-ratio: 1;
    margin-top: 10px;
    background-color: #007bff;
}
  
.cards-title {
    height: auto;
    font-size: 18px;
    margin-bottom: 20px;
}

.cards-selection-title {
    font-size: 120%;
}
  
.cards-description {
    height: auto;
    font-size: 12px;
    color: #666;
    margin-right: auto;
}

.articles-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.articles-title {
    text-align: center;
    font-size: 25px;
    width: 354px;  
    height: 58%; 
    margin-bottom: -20px; 
}

.articles-title h4{
    font-size: 100%;
    font-weight: 400;
}

.articles-btn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
  
.development-btn, .blockchain-btn, .nextjs-btn, .reactjs-btn {
    padding: 4px 8px;
    border-radius: 20px;
    border: 1px black;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
  
.articles-btn button:hover {
    background-color: #007bff;
}  
.articles-btn button:active {
    background-color: #007bff;
}
  
.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    height: auto;
    margin: 0;
    gap: 8px;
}
  
.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 198px;
    height: 213px; 
    margin-top: 2rem;
}

.article:nth-child(2n+1) {
    margin-bottom: 2rem;  
}
  
.article img {
    width: 198px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}  
 
.article-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}  
  
.article-button-1, .article-button-2 {
    margin: 5px;
    padding: 4px 5px;
    border-radius: 20px;
    border: 1px black;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 10px;  
}

.article p {
    width: auto;
    font-size: 65%;  
}
  
.profile-info {
    display: flex;
    width: 100%;
    gap: 10px;
} 
  
.profile-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px; 
}
  
.profile-info p {
    font-size: 14px;
    margin-bottom: 0;
}
  
.get-started {
    width: 100vw;
    height: 383px;
    background-color: #0064DA;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 83px 15px;
    gap: 10px;
    margin-left: -0.5rem ;  
    box-sizing: border-box;
}
  
.frame-title {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    color: white;
    font-size: 2rem;
}
  
.get-started {
    width: 100%;
    height: 383px;
    justify-content: center;
    background-color: #0064DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 83px 15px;
    gap: 10px;
    box-sizing: border-box; 
    margin: 0; 
}
  
.frame-title {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    color: white;
    font-size: 2rem;
    font-weight: 300;
}
  
.frame-btn {
    height: 33px;
    background-color: white;
    color: #007bff;
    display: flex;
    border: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    margin: 0 auto;
}

.list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
}

.subscribe{
    display: flex;
    justify-content: center;
}

.email-input {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 1rem;
}
  
.email-text {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px; 
}
  
.input {
    width: 25rem;
    padding: 8px 16px;
    border: 1px solid #ccc;
    margin-right: 10px; 
}
  
.email-subscribe {
    width: auto;
    padding: 8px 16px;
    border: 0px;
    background-color: black;
    color: white;
    cursor: pointer;  
}

.subscribe-text{
    font-size: 90%;
}

.products-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.resources-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.products-list ul, .resources-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.products-list ul, .resources-list ul {
    margin-bottom: 10px;
}

.products-list ul:first-child, .resources-list ul:first-child {
  font-weight: bold;
}

.footer{
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    margin-top: 100px;
}

.footer-logo {
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
}


@media (min-width: 1300px) and (max-width: 1800px) {
    body {
        font-size: 18px;
        font-family: "Inter";
    }

    .header-container {
        display: flex;
        align-items: center;
        height: 50px;
        margin-bottom: 5px;
    }
     
    .header-text {
        display: flex;
        margin-left: 0px;
        width: 100%;
        align-items: left;
        gap: 30px;
    }
    
    .header-text p {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    
    .intro-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 147px;    
        margin-top: 45px;
    }
    
    h1 {
        width: 696px;
        font-size: 70px;
    }

    .intro-description{
        width: 765px;
        height: 58px;
        top: 217px;
        left: 373px;
        gap: 0px;
        opacity: 0px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29.05px;
        text-align: center;
    }

    .intro-btn{
        width:  258px;
        height:  33px;
        top: 299px;
        left: 627px;
        gap: 25px;
        opacity: 0px;  
        margin-top: 30px;   
    }
        
    .video {
        width: 460px;
        height: 298px;
        top: 378px;
        left: 526px;
    }

    .about {
        position: relative; 
        width: 1500px;
    }
    
    .vertical-stripe {
        width: 1px;           
        height: 4rem;        
        background-color: rgb(190, 190, 190);
        margin: auto;  
        position: relative;
        z-index: 2;           
    }
    
    .square-about{
        text-align: center;
        justify-content: center;
        background-color: #f0f0f0;
        padding-top: 20px;
        margin-top: -20px;
    };
    
    .about-title{
        width: 100%;
        height: 28px;
        font-size: 40px;
        font-weight: 400;
        margin-top: 10px;
        text-align: center;
    }
    
    .about-description{
        width: 600px;
        height: 72px;
        margin: auto;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 40px;
        font-size: 20px;
    }
    
    .hero-img{
        width: 460px;
        height: 298px;
    
    }

    .cards{
        align-content: center;
        margin-top: 30px;
    }

    .card{
        background-color: white;
    }

    .cards h4{
        width: 100%;
        height: 28px;
        font-size: 40px;
        font-weight: 400;
        margin-top: 10px;
        text-align: center;
    }
    .cards-selection-description{
        width: 600px;
        height: 72px;
        margin: auto;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 40px;
        font-size: 20px;
    }

    .cards-group {
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        width: 100%;
        height: 100%;
        gap: 10px;
        border-radius: 10px;   
    }
        
    .cards-group video {
        display: flex;
        position: absolute;
        width: 1511px;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .cards-container{
        
    }

    .articles-selection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .articles-title {
        width: 100%;
        height: 28px;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    .articles-btn {
        justify-content: center;
        width: 279px;
        margin: auto;
        margin-top: 30px;
        gap: 30px;
    }

    .articles{
        display: flex;
        gap: 30px;
    }

    .get-started {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 202px;
        margin-top: 50px;
    }
      
    .blue-frame {
        width: 100%; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
      
    .frame-title {
        margin-left: 20px;
    }
      
    .frame-btn {
        width: 150px;
        margin-right: 20px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
       
    .subscribe-email {
        display: flex;
        flex-direction: column;
        margin-right: 20px;      
    }
        
    .subscribe-email {
        margin-bottom: 10px; 
    }
      
    .email-input {      
        flex-grow: 1;
    }
    
    .list {
        flex-grow: 1;
        text-align: center;
    }
      
    .footer-logo {
        margin-left: 20px;
    }
    
}